* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  display: flex;
  position: relative;
}

.menu-lateral {
  background-color: #313131;
  max-height: 100vh;

  padding: 20px;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu__item {
  display: flex;
}

.menu-modal {
  background-color: #313131;
  max-height: 100vh;
  width: 199px;

  padding: 20px 25px 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.menu__item--name {
  color: #888888;
  font-size: 16px;
  line-height: 19px;

  display: none;
  margin-left: 25px;
}

.cor-branca {
  color: #ffffff;
}

.menu,
.bottom-menu {
  list-style: none;
}

.menu__item button {
  all: unset;
  background-color: #313131;
  box-sizing: border-box;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  color: #000000;

  font-size: 36px;
  line-height: 42px;

  margin-top: 150px;
  margin-bottom: 52px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 65px;
}

.img {
  position: relative;
}

.img__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
  line-height: 23px;

  margin-bottom: 40px;
  margin-top: 18px;
}

.img__footer span {
  color: #5c5c5c;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: none;
  justify-content: center;
  align-items: center;

  max-height: 100vh;
  z-index: 3;
}

.modal #close-modal {
  height: 34px;
  width: 34px;
}

.display-none {
  display: none;
}

.img-navegacao {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  min-width: 700px;
  min-height: 200px;
}

.galeria-like {
  position: absolute;
  left: 85%;
  bottom: 85%;
}

.modal-like {
  position: absolute;
  left: 65%;
  bottom: 80%;
}

/* IDs */
#close-modal {
  position: absolute;
  left: 95%;
  bottom: 90%;
}

#img-modal-atual,
#prev,
#next {
  position: absolute;
}

#prev {
  right: 85%;
}

#next {
  left: 85%;
}

#prev:hover,
#next:hover,
#close-modal {
  cursor: pointer;
}

/* font */
.font-roboto {
  font-family: "Roboto", sans-serif;
}

.bold-font {
  font-weight: bold;
}

.light-font {
  font-weight: normal;
}

.normal-style {
  font-style: normal;
}
